Config(
    discord_token: "discord_token",
    base_url: "http://localhost/8080/",
    callback_url: "http://localhost/8080/callback_url/",
    port: 8080,
    discord_client_id: 123_456,
    discord_client_secret: "secretkey-abc",
    discord_public_key: "bce123",
    bot_permissions: 456_789,
    esi_client_id: "123deadbeef",
    esi_secret_key: "supersecretKey",
)